<%- include('partials/header'); -%>

    <main class="result">
        <div class="container-fluid">
            <% if(cowin.sessions.length === 0) { %>
                <h1>No Center Available!</h1>
            <% } else { %>
                <h1>Total <%= cowin.sessions.length %> center found!</h1>
                <div class="panel panel-success">
                    <% for(let i=0; i<cowin.sessions.length; i++) { %>
                        <div class="panel-heading">
                            <%= cowin.sessions[i].name %>
                        </div>
                        <div class="panel-body">
                            <p>Vaccine Type: <%= cowin.sessions[i].vaccine %></p>
                            <p>Fee: <%= cowin.sessions[i].fee_type %></p>
                            <p>Date: <%= cowin.sessions[i].date %></p>
                            <ul class="list-group">
                                <li class="list-group-item">Address: <%= cowin.sessions[i].address %></li>
                                <li class="list-group-item">Time: <%= cowin.sessions[i].from %> - <%= cowin.sessions[i].to %></li>
                                <li class="list-group-item">Availability for DOSE-1: <%= cowin.sessions[i].available_capacity_dose1 %></li>
                                <li class="list-group-item">Availability for DOSE-2: <%= cowin.sessions[i].available_capacity_dose2 %></li>
                            </ul>
                        </div>
                    <% } %>
                </div>
            <% } %>
          </div>
    </main>

<%- include('partials/footer'); -%>